In [290]:
import pandas as pd
import numpy as np

# DATA

In [291]:
data_preprocessed=pd.read_csv('Absenteeism_data_preprocessed.csv')
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

## Targets

In [292]:
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [293]:
targets=np.where(data_preprocessed['Absenteeism Time in Hours']>data_preprocessed['Absenteeism Time in Hours'].median(),1,0)
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [294]:
data_preprocessed['Excessive Absenteeism']=targets
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0

In [295]:
data_with_targets=data_preprocessed.drop(['Absenteeism Time in Hours','Day of Week', 'Distance to Work', 'Daily Work Load Average'],axis=1)
data_with_targets.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,1,7,289,33,30,0,2,1,1
1,0,0,0,0,7,118,50,31,0,1,0,0
2,0,0,0,1,7,179,38,31,0,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0,1
4,0,0,0,1,7,289,33,30,0,2,1,0

## Inputs

In [296]:
data_with_targets.shape

(700, 12)

In [297]:
unscaled_inputs=data_with_targets.iloc[:,:-1]
unscaled_inputs

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,289,33,30,0,2,1
1,0,0,0,0,7,118,50,31,0,1,0
2,0,0,0,1,7,179,38,31,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0
4,0,0,0,1,7,289,33,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,179,40,22,1,2,0
696,1,0,0,0,5,225,28,24,0,1,2
697,1,0,0,0,5,330,28,25,1,0,0
698,0,0,0,1,5,235,32,25,1,0,0
699,0,0,0,1,5,291,40,25,0,1,1

## Standardize

In [298]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [299]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

class CustomScaler(BaseEstimator,TransformerMixin): 
    
    def __init__(self,columns):
        self.scaler = StandardScaler()
        self.columns = columns
        
    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self
    
    def transform(self, X, y=None, copy=None):
        init_col_order = X.columns
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
        X_not_scaled = X.loc[:,~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [300]:
# check what are all columns that we've got
unscaled_inputs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

In [301]:
# choose the columns to scale
# we later augmented this code and put it in comments
# columns_to_scale = ['Month Value','Day of the Week', 'Transportation Expense', 'Distance to Work',
       #'Age', 'Daily Work Load Average', 'Body Mass Index', 'Children', 'Pet']
    
# select the columns to omit
columns_to_omit = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4','Education']
columns_to_scale = [x for x in unscaled_inputs.columns.values if x not in columns_to_omit]

In [302]:
# declare a scaler object, specifying the columns you want to scale
scaler = CustomScaler(columns_to_scale)

In [303]:
# fit the data (calculate mean and standard deviation); they are automatically stored inside the object 
scaler.fit(unscaled_inputs)

C:\Users\soodm\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3438: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

CustomScaler(columns=['Month Value', 'Transportation Expense', 'Age',
                      'Body Mass Index', 'Children', 'Pets'])

In [304]:
scaled_inputs = scaler.transform(unscaled_inputs)
scaled_inputs

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
1,0,0,0,0,0.182726,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
2,0,0,0,1,0.182726,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
3,1,0,0,0,0.182726,0.854936,0.405184,-0.643782,0,0.880469,-0.589690
4,0,0,0,1,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,-0.388293,-0.654143,0.562059,-1.114186,1,0.880469,-0.589690
696,1,0,0,0,-0.388293,0.040034,-1.320435,-0.643782,0,-0.019280,1.126663
697,1,0,0,0,-0.388293,1.624567,-1.320435,-0.408580,1,-0.919030,-0.589690
698,0,0,0,1,-0.388293,0.190942,-0.692937,-0.408580,1,-0.919030,-0.589690
699,0,0,0,1,-0.388293,1.036026,0.562059,-0.408580,0,-0.019280,0.268487

## Train and Test

In [305]:
from sklearn.model_selection import train_test_split as tts
x_train,x_test,y_train,y_test=tts(scaled_inputs,targets,train_size=0.8,random_state=11)
print(x_train,y_train)

     Reason_1  Reason_2  Reason_3  Reason_4  Month Value  \
304         0         0         0         1     1.039256
388         0         0         0         1    -1.244823
49          1         0         0         0     0.753746
158         0         1         0         0    -0.959313
214         0         0         0         0    -0.388293
..        ...       ...       ...       ...          ...
332         1         0         0         0     1.324766
269         1         0         0         0     0.468236
337         0         0         0         0     1.324766
91          0         0         1         0     1.324766
80          0         0         0         1     1.324766

     Transportation Expense       Age  Body Mass Index  Education  Children  \
304                0.190942  1.032682         2.649049          0 -0.019280
388               -0.654143  0.248310         1.002633          0 -0.919030
49                 1.036026  0.562059        -0.408580          0 -0.019280
158               -0.654143  0.562059        -1.114186          1  0.880469
214                1.624567 -1.320435        -0.408580          1 -0.919030
..                      ...       ...              ...        ...       ...
332                0.356940  0.718933        -0.878984          0 -0.919030
269               -0.578689 -1.477309        -1.349389          0 -0.919030
337                0.854936  0.405184        -0.643782          0  0.880469
91                -0.654143  0.562059        -1.114186          1  0.880469
80                -0.654143  0.248310         1.002633          0 -0.919030

         Pets
304 -0.589690
388 -0.589690
49   0.268487
158 -0.589690
214 -0.589690
..        ...
332 -0.589690
269 -0.589690
337 -0.589690
91  -0.589690
80  -0.589690

[560 rows x 11 columns] [0 0 1 1 0 1 0 1 0 0 1 1 0 1 1 0 1 1 0 1 0 0 1 0 1 1 0 1 1 1 0 1 0 0 1 0 1
 1 0 0 1 1 0 1 0 0 0 0 0 1 1 0 1 0 0 1 1 1 1 1 0 0 0 0 1 1 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 1 1 0 0 1 1 0 0 0 1 0 0 0 0 1 0 0 1 1 1 0 0 0 0 0 1 1 1 0 1 0
 0 1 1 0 1 0 1 0 1 1 0 1 1 1 0 1 0 1 0 0 0 1 1 1 1 1 0 0 0 1 0 0 1 0 0 0 1
 0 0 1 1 1 0 1 1 0 0 0 0 0 1 1 0 1 0 1 0 1 1 1 1 0 1 0 1 0 0 1 1 0 1 0 1 0
 0 1 1 1 0 1 0 0 0 0 1 1 1 1 0 0 1 0 1 0 1 0 1 1 1 0 0 1 1 0 0 0 1 1 1 1 0
 0 0 1 1 0 0 1 1 0 0 0 0 1 0 0 1 0 0 1 0 1 1 0 1 0 1 0 1 0 0 0 0 0 1 1 1 1
 0 1 0 0 1 1 0 0 1 1 1 1 0 1 1 0 1 0 1 0 0 1 0 1 0 1 0 0 1 1 0 1 0 0 0 0 1
 1 1 1 1 0 0 0 1 0 1 1 0 1 0 0 0 1 0 1 1 1 1 0 0 1 0 0 0 1 0 1 0 1 0 0 1 0
 0 1 0 0 1 0 0 1 1 1 1 0 1 1 1 0 0 0 0 1 1 0 0 1 0 0 1 0 1 1 1 0 1 0 1 0 0
 1 0 0 0 0 0 0 0 1 0 0 1 1 0 1 1 1 0 0 0 1 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0
 1 1 0 0 0 0 1 0 0 0 0 1 1 0 0 1 1 1 0 1 0 1 0 0 1 1 0 0 1 1 0 0 1 0 1 0 1
 1 1 1 0 1 0 0 0 1 0 1 0 1 0 1 1 1 1 0 1 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0 1 0
 0 0 1 1 0 1 1 1 1 0 0 0 0 0 1 0 0 1 1 1 1 1 0 0 0 0 0 0 0 1 0 0 1 0 1 1 0
 1 1 0 0 0 1 0 1 1 1 1 1 0 0 0 0 0 1 1 0 1 0 0 1 1 0 1 0 1 1 1 1 0 0 0 0 0
 1 1 0 1 0]

# LOGISTIC REGRESSION

In [306]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

## Training

In [307]:
reg=LogisticRegression()
reg.fit(x_train,y_train)

LogisticRegression()

In [308]:
reg.score(x_train,y_train)

0.7732142857142857

## Manually check the accuracy

In [309]:
outputs=reg.predict(x_train)
outputs

array([1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0,
       0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0])

In [310]:
y_train

array([0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0,
       1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0])

In [311]:
np.sum(outputs==y_train)

433

In [312]:
outputs.shape[0]

560

In [313]:
Accuracy=np.sum(outputs==y_train)/outputs.shape[0]*100
Accuracy

77.32142857142857

## Intercept and Coefficients

In [314]:
reg.intercept_

array([-1.63474491])

In [315]:
reg.coef_

array([[ 2.91038036,  0.95973404,  3.10974581,  0.91708182,  0.04575801,
         0.57074323, -0.33845717,  0.27410018, -0.23700697,  0.35910919,
        -0.32871122]])

In [316]:
feature_name=unscaled_inputs.columns.values

## Summary Table

In [317]:
summary_table=pd.DataFrame(columns=['Feature Name'],data=feature_name)
summary_table['Coefficients']=np.transpose(reg.coef_)
summary_table

              Feature Name  Coefficients
0                 Reason_1      2.910380
1                 Reason_2      0.959734
2                 Reason_3      3.109746
3                 Reason_4      0.917082
4              Month Value      0.045758
5   Transportation Expense      0.570743
6                      Age     -0.338457
7          Body Mass Index      0.274100
8                Education     -0.237007
9                 Children      0.359109
10                    Pets     -0.328711

In [318]:
summary_table.index=summary_table.index+1
summary_table.loc[0]=['Intercept',reg.intercept_[0]]
summary_table=summary_table.sort_index()
summary_table

              Feature Name  Coefficients
0                Intercept     -1.634745
1                 Reason_1      2.910380
2                 Reason_2      0.959734
3                 Reason_3      3.109746
4                 Reason_4      0.917082
5              Month Value      0.045758
6   Transportation Expense      0.570743
7                      Age     -0.338457
8          Body Mass Index      0.274100
9                Education     -0.237007
10                Children      0.359109
11                    Pets     -0.328711

In [319]:
summary_table['Odds Ratio']=np.exp(summary_table['Coefficients'])
summary_table

              Feature Name  Coefficients  Odds Ratio
0                Intercept     -1.634745    0.195002
1                 Reason_1      2.910380   18.363782
2                 Reason_2      0.959734    2.611002
3                 Reason_3      3.109746   22.415346
4                 Reason_4      0.917082    2.501979
5              Month Value      0.045758    1.046821
6   Transportation Expense      0.570743    1.769582
7                      Age     -0.338457    0.712869
8          Body Mass Index      0.274100    1.315347
9                Education     -0.237007    0.788986
10                Children      0.359109    1.432053
11                    Pets     -0.328711    0.719851

In [320]:
summary_table.sort_values(['Odds Ratio'],ascending=False)

              Feature Name  Coefficients  Odds Ratio
3                 Reason_3      3.109746   22.415346
1                 Reason_1      2.910380   18.363782
2                 Reason_2      0.959734    2.611002
4                 Reason_4      0.917082    2.501979
6   Transportation Expense      0.570743    1.769582
10                Children      0.359109    1.432053
8          Body Mass Index      0.274100    1.315347
5              Month Value      0.045758    1.046821
9                Education     -0.237007    0.788986
11                    Pets     -0.328711    0.719851
7                      Age     -0.338457    0.712869
0                Intercept     -1.634745    0.195002

## Testing

In [321]:
reg.score(x_test,y_test)

0.7571428571428571

In [322]:
x_test

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
510,1,0,0,0,1.039256,1.005844,1.973929,2.178644,0,-0.919030,1.126663
254,0,0,0,1,0.468236,1.005844,-0.536062,0.767431,0,0.880469,0.268487
376,0,0,0,1,-1.244823,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
641,0,0,0,1,-0.959313,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
317,1,0,0,0,1.324766,-1.574681,0.091435,0.297027,0,-0.919030,-0.589690
...,...,...,...,...,...,...,...,...,...,...,...
411,0,0,0,1,-0.959313,0.356940,0.718933,-0.878984,0,-0.919030,-0.589690
348,0,0,0,1,1.610276,-0.654143,-1.006686,-1.819793,1,-0.919030,-0.589690
179,1,0,0,0,-0.959313,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
488,0,0,0,1,0.468236,-0.654143,0.562059,-1.114186,1,0.880469,-0.589690
597,0,0,0,1,-1.244823,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690

In [323]:

predicted_proba=reg.predict_proba(x_test)
predicted_proba

array([[0.24490629, 0.75509371],
       [0.37811459, 0.62188541],
       [0.74901878, 0.25098122],
       [0.74655484, 0.25344516],
       [0.4129486 , 0.5870514 ],
       [0.12671223, 0.87328777],
       [0.37442836, 0.62557164],
       [0.16773425, 0.83226575],
       [0.8661676 , 0.1338324 ],
       [0.4783597 , 0.5216403 ],
       [0.75751386, 0.24248614],
       [0.72367052, 0.27632948],
       [0.37811459, 0.62188541],
       [0.10220837, 0.89779163],
       [0.29197406, 0.70802594],
       [0.74655484, 0.25344516],
       [0.8565481 , 0.1434519 ],
       [0.2223053 , 0.7776947 ],
       [0.38056833, 0.61943167],
       [0.69875525, 0.30124475],
       [0.70236713, 0.29763287],
       [0.28108103, 0.71891897],
       [0.06926632, 0.93073368],
       [0.45197592, 0.54802408],
       [0.70509096, 0.29490904],
       [0.02672494, 0.97327506],
       [0.70236713, 0.29763287],
       [0.25854078, 0.74145922],
       [0.69132861, 0.30867139],
       [0.10463103, 0.89536897],
       [0.67721803, 0.32278197],
       [0.17797086, 0.82202914],
       [0.94463387, 0.05536613],
       [0.70509096, 0.29490904],
       [0.2661248 , 0.7338752 ],
       [0.30414542, 0.69585458],
       [0.06051276, 0.93948724],
       [0.11777457, 0.88222543],
       [0.67721803, 0.32278197],
       [0.37746045, 0.62253955],
       [0.68290296, 0.31709704],
       [0.8547252 , 0.1452748 ],
       [0.29040984, 0.70959016],
       [0.69962885, 0.30037115],
       [0.79957686, 0.20042314],
       [0.24329421, 0.75670579],
       [0.67435565, 0.32564435],
       [0.06277968, 0.93722032],
       [0.79535684, 0.20464316],
       [0.4783597 , 0.5216403 ],
       [0.11693329, 0.88306671],
       [0.75146675, 0.24853325],
       [0.69093776, 0.30906224],
       [0.73143893, 0.26856107],
       [0.62300806, 0.37699194],
       [0.49817192, 0.50182808],
       [0.76464027, 0.23535973],
       [0.37811459, 0.62188541],
       [0.06433473, 0.93566527],
       [0.87394377, 0.12605623],
       [0.34031199, 0.65968801],
       [0.84280629, 0.15719371],
       [0.74901878, 0.25098122],
       [0.24260117, 0.75739883],
       [0.74655484, 0.25344516],
       [0.74655484, 0.25344516],
       [0.72886487, 0.27113513],
       [0.37811459, 0.62188541],
       [0.501438  , 0.498562  ],
       [0.73654041, 0.26345959],
       [0.58064708, 0.41935292],
       [0.08027624, 0.91972376],
       [0.71951284, 0.28048716],
       [0.62912488, 0.37087512],
       [0.74655484, 0.25344516],
       [0.28372853, 0.71627147],
       [0.47510069, 0.52489931],
       [0.57758059, 0.42241941],
       [0.74157923, 0.25842077],
       [0.27064291, 0.72935709],
       [0.70509096, 0.29490904],
       [0.49490599, 0.50509401],
       [0.61685179, 0.38314821],
       [0.36227055, 0.63772945],
       [0.75510604, 0.24489396],
       [0.36223812, 0.63776188],
       [0.48511195, 0.51488805],
       [0.63071628, 0.36928372],
       [0.67721803, 0.32278197],
       [0.72367052, 0.27632948],
       [0.19078102, 0.80921898],
       [0.86155873, 0.13844127],
       [0.73143893, 0.26856107],
       [0.34620213, 0.65379787],
       [0.22005486, 0.77994514],
       [0.63216797, 0.36783203],
       [0.73143893, 0.26856107],
       [0.24295729, 0.75704271],
       [0.35326551, 0.64673449],
       [0.24089711, 0.75910289],
       [0.05817764, 0.94182236],
       [0.37442836, 0.62557164],
       [0.75510604, 0.24489396],
       [0.35589212, 0.64410788],
       [0.16636707, 0.83363293],
       [0.69962885, 0.30037115],
       [0.74901878, 0.25098122],
       [0.38119145, 0.61880855],
       [0.20206397, 0.79793603],
       [0.83950823, 0.16049177],
       [0.75751386, 0.24248614],
       [0.27064291, 0.72935709],
       [0.51246932, 0.48753068],
       [0.36832854, 0.63167146],
       [0.08321796, 0.91678204],
       [0.34031199, 0.65968801],
       [0.76698327, 0.23301673],
       [0.07377822, 0.92622178],
       [0.8547252 , 0.1452748 ],
       [0.42026203, 0.57973797],
       [0.70236713, 0.29763287],
       [0.76698327, 0.23301673],
       [0.75024215, 0.24975785],
       [0.73654041, 0.26345959],
       [0.70236713, 0.29763287],
       [0.06755294, 0.93244706],
       [0.41611925, 0.58388075],
       [0.45744747, 0.54255253],
       [0.27322947, 0.72677053],
       [0.19379782, 0.80620218],
       [0.36227055, 0.63772945],
       [0.75473493, 0.24526507],
       [0.10341342, 0.89658658],
       [0.72627537, 0.27372463],
       [0.35925774, 0.64074226],
       [0.76464027, 0.23535973],
       [0.82471355, 0.17528645],
       [0.28639105, 0.71360895],
       [0.78451954, 0.21548046],
       [0.74901878, 0.25098122]])

In [324]:
predicted_proba[:,1]

array([0.75509371, 0.62188541, 0.25098122, 0.25344516, 0.5870514 ,
       0.87328777, 0.62557164, 0.83226575, 0.1338324 , 0.5216403 ,
       0.24248614, 0.27632948, 0.62188541, 0.89779163, 0.70802594,
       0.25344516, 0.1434519 , 0.7776947 , 0.61943167, 0.30124475,
       0.29763287, 0.71891897, 0.93073368, 0.54802408, 0.29490904,
       0.97327506, 0.29763287, 0.74145922, 0.30867139, 0.89536897,
       0.32278197, 0.82202914, 0.05536613, 0.29490904, 0.7338752 ,
       0.69585458, 0.93948724, 0.88222543, 0.32278197, 0.62253955,
       0.31709704, 0.1452748 , 0.70959016, 0.30037115, 0.20042314,
       0.75670579, 0.32564435, 0.93722032, 0.20464316, 0.5216403 ,
       0.88306671, 0.24853325, 0.30906224, 0.26856107, 0.37699194,
       0.50182808, 0.23535973, 0.62188541, 0.93566527, 0.12605623,
       0.65968801, 0.15719371, 0.25098122, 0.75739883, 0.25344516,
       0.25344516, 0.27113513, 0.62188541, 0.498562  , 0.26345959,
       0.41935292, 0.91972376, 0.28048716, 0.37087512, 0.25344516,
       0.71627147, 0.52489931, 0.42241941, 0.25842077, 0.72935709,
       0.29490904, 0.50509401, 0.38314821, 0.63772945, 0.24489396,
       0.63776188, 0.51488805, 0.36928372, 0.32278197, 0.27632948,
       0.80921898, 0.13844127, 0.26856107, 0.65379787, 0.77994514,
       0.36783203, 0.26856107, 0.75704271, 0.64673449, 0.75910289,
       0.94182236, 0.62557164, 0.24489396, 0.64410788, 0.83363293,
       0.30037115, 0.25098122, 0.61880855, 0.79793603, 0.16049177,
       0.24248614, 0.72935709, 0.48753068, 0.63167146, 0.91678204,
       0.65968801, 0.23301673, 0.92622178, 0.1452748 , 0.57973797,
       0.29763287, 0.23301673, 0.24975785, 0.26345959, 0.29763287,
       0.93244706, 0.58388075, 0.54255253, 0.72677053, 0.80620218,
       0.63772945, 0.24526507, 0.89658658, 0.27372463, 0.64074226,
       0.23535973, 0.17528645, 0.71360895, 0.21548046, 0.25098122])

# SAVE THE MODEL

In [325]:
import pickle

In [326]:
with open('model','wb') as file:
    pickle.dump(reg,file)

In [327]:
with open('scaler','wb') as file:
    pickle.dump(scaler,file)

# NEW DATA

In [328]:
new_data=pd.read_csv('Absenteeism_new_data.csv')
new_data

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,22,27,01/06/2018,179,26,30,237.656,19,3,0,0
1,10,7,04/06/2018,361,52,28,237.656,27,1,1,4
2,14,23,06/06/2018,155,12,34,237.656,25,1,2,0
3,17,25,08/06/2018,179,22,40,237.656,22,2,2,0
4,14,10,08/06/2018,155,12,34,237.656,25,1,2,0
5,28,11,11/06/2018,225,26,28,237.656,24,1,1,2
6,16,7,13/06/2018,118,15,46,275.089,25,1,2,0
7,22,27,13/06/2018,179,26,30,275.089,19,3,0,0
8,34,26,15/06/2018,118,10,37,275.089,28,1,0,0
9,34,10,20/06/2018,118,10,37,275.089,28,1,0,0
10,23,22,21/06/2018,378,49,36,275.089,21,1,2,4
11,36,19,21/06/2018,118,13,50,275.089,31,1,1,0
12,12,19,22/06/2018,233,51,31,275.089,21,2,1,8
13,22,27,22/06/2018,179,26,30,275.089,19,3,0,0
14,2,0,25/06/2018,235,29,48,275.089,33,1,1,5
15,21,0,28/06/2018,268,11,33,275.089,25,2,0,0
16,36,19,28/06/2018,118,13,50,275.089,31,1,1,0
17,22,13,28/06/2018,179,26,30,275.089,19,3,0,0
18,15,28,28/06/2018,291,31,40,275.089,25,1,1,1
19,22,13,02/07/2018,179,26,30,275.089,19,3,0,0
20,34,25,02/07/2018,118,10,37,275.089,28,1,0,0
21,12,22,05/07/2018,233,51,31,275.089,21,2,1,8
22,34,8,06/07/2018,118,10,37,275.089,28,1,0,0
23,34,10,11/07/2018,118,10,37,275.089,28,1,0,0
24,12,22,11/07/2018,233,51,31,275.089,21,2,1,8
25,5,26,11/07/2018,235,20,43,264.604,38,1,1,0
26,12,19,13/07/2018,233,51,31,264.604,21,2,1,8
27,9,6,16/07/2018,228,14,58,264.604,22,1,2,1
28,34,28,16/07/2018,118,10,37,264.604,28,1,0,0
29,9,6,17/07/2018,228,14,58,264.604,22,1,2,1
30,6,22,17/07/2018,189,29,33,264.604,25,1,2,2
31,34,23,18/07/2018,118,10,37,264.604,28,1,0,0
32,10,22,18/07/2018,361,52,28,264.604,27,1,1,4
33,28,22,18/07/2018,225,26,28,264.604,24,1,1,2
34,13,13,23/07/2018,369,17,31,264.604,25,1,3,0
35,11,14,24/07/2018,289,36,33,264.604,30,1,2,1
36,1,11,24/07/2018,235,11,37,264.604,29,3,1,1
37,4,0,24/07/2018,118,14,40,271.219,34,1,1,8
38,8,0,25/07/2018,231,35,39,271.219,35,1,2,2
39,35,0,27/07/2018,179,45,53,271.219,25,1,1,1

In [329]:
new_data=new_data.drop(['ID'],axis=1)
reason_columns=pd.get_dummies(new_data['Reason for Absence'],drop_first=True)
new_data=new_data.drop(['Reason for Absence'],axis=1)
reason_type1=reason_columns.loc[:,1:14].max(axis=1)
reason_type2=reason_columns.loc[:,15:17].max(axis=1)
reason_type3=reason_columns.loc[:,18:21].max(axis=1)
reason_type4=reason_columns.loc[:,22:].max(axis=1)
new_data=pd.concat([new_data,reason_type1,reason_type2,reason_type3,reason_type4],axis=1)
column_names=['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4']
new_data.columns=column_names
new_data

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Reason_1,Reason_2,Reason_3,Reason_4
0,01/06/2018,179,26,30,237.656,19,3,0,0,0,NaN,0,1
1,04/06/2018,361,52,28,237.656,27,1,1,4,1,NaN,0,0
2,06/06/2018,155,12,34,237.656,25,1,2,0,0,NaN,0,1
3,08/06/2018,179,22,40,237.656,22,2,2,0,0,NaN,0,1
4,08/06/2018,155,12,34,237.656,25,1,2,0,1,NaN,0,0
5,11/06/2018,225,26,28,237.656,24,1,1,2,1,NaN,0,0
6,13/06/2018,118,15,46,275.089,25,1,2,0,1,NaN,0,0
7,13/06/2018,179,26,30,275.089,19,3,0,0,0,NaN,0,1
8,15/06/2018,118,10,37,275.089,28,1,0,0,0,NaN,0,1
9,20/06/2018,118,10,37,275.089,28,1,0,0,1,NaN,0,0
10,21/06/2018,378,49,36,275.089,21,1,2,4,0,NaN,0,1
11,21/06/2018,118,13,50,275.089,31,1,1,0,0,NaN,1,0
12,22/06/2018,233,51,31,275.089,21,2,1,8,0,NaN,1,0
13,22/06/2018,179,26,30,275.089,19,3,0,0,0,NaN,0,1
14,25/06/2018,235,29,48,275.089,33,1,1,5,0,NaN,0,0
15,28/06/2018,268,11,33,275.089,25,2,0,0,0,NaN,0,0
16,28/06/2018,118,13,50,275.089,31,1,1,0,0,NaN,1,0
17,28/06/2018,179,26,30,275.089,19,3,0,0,1,NaN,0,0
18,28/06/2018,291,31,40,275.089,25,1,1,1,0,NaN,0,1
19,02/07/2018,179,26,30,275.089,19,3,0,0,1,NaN,0,0
20,02/07/2018,118,10,37,275.089,28,1,0,0,0,NaN,0,1
21,05/07/2018,233,51,31,275.089,21,2,1,8,0,NaN,0,1
22,06/07/2018,118,10,37,275.089,28,1,0,0,1,NaN,0,0
23,11/07/2018,118,10,37,275.089,28,1,0,0,1,NaN,0,0
24,11/07/2018,233,51,31,275.089,21,2,1,8,0,NaN,0,1
25,11/07/2018,235,20,43,264.604,38,1,1,0,0,NaN,0,1
26,13/07/2018,233,51,31,264.604,21,2,1,8,0,NaN,1,0
27,16/07/2018,228,14,58,264.604,22,1,2,1,1,NaN,0,0
28,16/07/2018,118,10,37,264.604,28,1,0,0,0,NaN,0,1
29,17/07/2018,228,14,58,264.604,22,1,2,1,1,NaN,0,0
30,17/07/2018,189,29,33,264.604,25,1,2,2,0,NaN,0,1
31,18/07/2018,118,10,37,264.604,28,1,0,0,0,NaN,0,1
32,18/07/2018,361,52,28,264.604,27,1,1,4,0,NaN,0,1
33,18/07/2018,225,26,28,264.604,24,1,1,2,0,NaN,0,1
34,23/07/2018,369,17,31,264.604,25,1,3,0,1,NaN,0,0
35,24/07/2018,289,36,33,264.604,30,1,2,1,1,NaN,0,0
36,24/07/2018,235,11,37,264.604,29,3,1,1,1,NaN,0,0
37,24/07/2018,118,14,40,271.219,34,1,1,8,0,NaN,0,0
38,25/07/2018,231,35,39,271.219,35,1,2,2,0,NaN,0,0
39,27/07/2018,179,45,53,271.219,25,1,1,1,0,NaN,0,0

In [330]:
new_data=new_data.fillna(value=0)
new_data

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Reason_1,Reason_2,Reason_3,Reason_4
0,01/06/2018,179,26,30,237.656,19,3,0,0,0,0.0,0,1
1,04/06/2018,361,52,28,237.656,27,1,1,4,1,0.0,0,0
2,06/06/2018,155,12,34,237.656,25,1,2,0,0,0.0,0,1
3,08/06/2018,179,22,40,237.656,22,2,2,0,0,0.0,0,1
4,08/06/2018,155,12,34,237.656,25,1,2,0,1,0.0,0,0
5,11/06/2018,225,26,28,237.656,24,1,1,2,1,0.0,0,0
6,13/06/2018,118,15,46,275.089,25,1,2,0,1,0.0,0,0
7,13/06/2018,179,26,30,275.089,19,3,0,0,0,0.0,0,1
8,15/06/2018,118,10,37,275.089,28,1,0,0,0,0.0,0,1
9,20/06/2018,118,10,37,275.089,28,1,0,0,1,0.0,0,0
10,21/06/2018,378,49,36,275.089,21,1,2,4,0,0.0,0,1
11,21/06/2018,118,13,50,275.089,31,1,1,0,0,0.0,1,0
12,22/06/2018,233,51,31,275.089,21,2,1,8,0,0.0,1,0
13,22/06/2018,179,26,30,275.089,19,3,0,0,0,0.0,0,1
14,25/06/2018,235,29,48,275.089,33,1,1,5,0,0.0,0,0
15,28/06/2018,268,11,33,275.089,25,2,0,0,0,0.0,0,0
16,28/06/2018,118,13,50,275.089,31,1,1,0,0,0.0,1,0
17,28/06/2018,179,26,30,275.089,19,3,0,0,1,0.0,0,0
18,28/06/2018,291,31,40,275.089,25,1,1,1,0,0.0,0,1
19,02/07/2018,179,26,30,275.089,19,3,0,0,1,0.0,0,0
20,02/07/2018,118,10,37,275.089,28,1,0,0,0,0.0,0,1
21,05/07/2018,233,51,31,275.089,21,2,1,8,0,0.0,0,1
22,06/07/2018,118,10,37,275.089,28,1,0,0,1,0.0,0,0
23,11/07/2018,118,10,37,275.089,28,1,0,0,1,0.0,0,0
24,11/07/2018,233,51,31,275.089,21,2,1,8,0,0.0,0,1
25,11/07/2018,235,20,43,264.604,38,1,1,0,0,0.0,0,1
26,13/07/2018,233,51,31,264.604,21,2,1,8,0,0.0,1,0
27,16/07/2018,228,14,58,264.604,22,1,2,1,1,0.0,0,0
28,16/07/2018,118,10,37,264.604,28,1,0,0,0,0.0,0,1
29,17/07/2018,228,14,58,264.604,22,1,2,1,1,0.0,0,0
30,17/07/2018,189,29,33,264.604,25,1,2,2,0,0.0,0,1
31,18/07/2018,118,10,37,264.604,28,1,0,0,0,0.0,0,1
32,18/07/2018,361,52,28,264.604,27,1,1,4,0,0.0,0,1
33,18/07/2018,225,26,28,264.604,24,1,1,2,0,0.0,0,1
34,23/07/2018,369,17,31,264.604,25,1,3,0,1,0.0,0,0
35,24/07/2018,289,36,33,264.604,30,1,2,1,1,0.0,0,0
36,24/07/2018,235,11,37,264.604,29,3,1,1,1,0.0,0,0
37,24/07/2018,118,14,40,271.219,34,1,1,8,0,0.0,0,0
38,25/07/2018,231,35,39,271.219,35,1,2,2,0,0.0,0,0
39,27/07/2018,179,45,53,271.219,25,1,1,1,0,0.0,0,0

In [331]:
column_names_reordered=['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4','Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets']
new_data=new_data[column_names_reordered]

In [332]:
new_data['Date']=pd.to_datetime(new_data['Date'],format='%d/%m/%Y')
list_months=[]
for i in range(new_data.shape[0]):
    list_months.append(new_data['Date'][i].month)
new_data['Month Value']=list_months

In [333]:
def date_to_weekday(data_value):
    return data_value.weekday()
new_data['Day of Week']=new_data['Date'].apply(date_to_weekday)
new_data=new_data.drop(['Date'],axis=1)

In [334]:
column_names_reordered=['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4','Month Value','Day of Week', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets']
new_data=new_data[column_names_reordered]
new_data['Education']=new_data['Education'].map({1:0,2:1,3:1,4:1})
new_data

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,0,0.0,0,1,6,4,179,26,30,237.656,19,1,0,0
1,1,0.0,0,0,6,0,361,52,28,237.656,27,0,1,4
2,0,0.0,0,1,6,2,155,12,34,237.656,25,0,2,0
3,0,0.0,0,1,6,4,179,22,40,237.656,22,1,2,0
4,1,0.0,0,0,6,4,155,12,34,237.656,25,0,2,0
5,1,0.0,0,0,6,0,225,26,28,237.656,24,0,1,2
6,1,0.0,0,0,6,2,118,15,46,275.089,25,0,2,0
7,0,0.0,0,1,6,2,179,26,30,275.089,19,1,0,0
8,0,0.0,0,1,6,4,118,10,37,275.089,28,0,0,0
9,1,0.0,0,0,6,2,118,10,37,275.089,28,0,0,0
10,0,0.0,0,1,6,3,378,49,36,275.089,21,0,2,4
11,0,0.0,1,0,6,3,118,13,50,275.089,31,0,1,0
12,0,0.0,1,0,6,4,233,51,31,275.089,21,1,1,8
13,0,0.0,0,1,6,4,179,26,30,275.089,19,1,0,0
14,0,0.0,0,0,6,0,235,29,48,275.089,33,0,1,5
15,0,0.0,0,0,6,3,268,11,33,275.089,25,1,0,0
16,0,0.0,1,0,6,3,118,13,50,275.089,31,0,1,0
17,1,0.0,0,0,6,3,179,26,30,275.089,19,1,0,0
18,0,0.0,0,1,6,3,291,31,40,275.089,25,0,1,1
19,1,0.0,0,0,7,0,179,26,30,275.089,19,1,0,0
20,0,0.0,0,1,7,0,118,10,37,275.089,28,0,0,0
21,0,0.0,0,1,7,3,233,51,31,275.089,21,1,1,8
22,1,0.0,0,0,7,4,118,10,37,275.089,28,0,0,0
23,1,0.0,0,0,7,2,118,10,37,275.089,28,0,0,0
24,0,0.0,0,1,7,2,233,51,31,275.089,21,1,1,8
25,0,0.0,0,1,7,2,235,20,43,264.604,38,0,1,0
26,0,0.0,1,0,7,4,233,51,31,264.604,21,1,1,8
27,1,0.0,0,0,7,0,228,14,58,264.604,22,0,2,1
28,0,0.0,0,1,7,0,118,10,37,264.604,28,0,0,0
29,1,0.0,0,0,7,1,228,14,58,264.604,22,0,2,1
30,0,0.0,0,1,7,1,189,29,33,264.604,25,0,2,2
31,0,0.0,0,1,7,2,118,10,37,264.604,28,0,0,0
32,0,0.0,0,1,7,2,361,52,28,264.604,27,0,1,4
33,0,0.0,0,1,7,2,225,26,28,264.604,24,0,1,2
34,1,0.0,0,0,7,0,369,17,31,264.604,25,0,3,0
35,1,0.0,0,0,7,1,289,36,33,264.604,30,0,2,1
36,1,0.0,0,0,7,1,235,11,37,264.604,29,1,1,1
37,0,0.0,0,0,7,1,118,14,40,271.219,34,0,1,8
38,0,0.0,0,0,7,2,231,35,39,271.219,35,0,2,2
39,0,0.0,0,0,7,4,179,45,53,271.219,25,0,1,1

In [335]:
new_data=new_data.drop(['Day of Week', 'Distance to Work', 'Daily Work Load Average'],axis=1)
new_data

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0.0,0,1,6,179,30,19,1,0,0
1,1,0.0,0,0,6,361,28,27,0,1,4
2,0,0.0,0,1,6,155,34,25,0,2,0
3,0,0.0,0,1,6,179,40,22,1,2,0
4,1,0.0,0,0,6,155,34,25,0,2,0
5,1,0.0,0,0,6,225,28,24,0,1,2
6,1,0.0,0,0,6,118,46,25,0,2,0
7,0,0.0,0,1,6,179,30,19,1,0,0
8,0,0.0,0,1,6,118,37,28,0,0,0
9,1,0.0,0,0,6,118,37,28,0,0,0
10,0,0.0,0,1,6,378,36,21,0,2,4
11,0,0.0,1,0,6,118,50,31,0,1,0
12,0,0.0,1,0,6,233,31,21,1,1,8
13,0,0.0,0,1,6,179,30,19,1,0,0
14,0,0.0,0,0,6,235,48,33,0,1,5
15,0,0.0,0,0,6,268,33,25,1,0,0
16,0,0.0,1,0,6,118,50,31,0,1,0
17,1,0.0,0,0,6,179,30,19,1,0,0
18,0,0.0,0,1,6,291,40,25,0,1,1
19,1,0.0,0,0,7,179,30,19,1,0,0
20,0,0.0,0,1,7,118,37,28,0,0,0
21,0,0.0,0,1,7,233,31,21,1,1,8
22,1,0.0,0,0,7,118,37,28,0,0,0
23,1,0.0,0,0,7,118,37,28,0,0,0
24,0,0.0,0,1,7,233,31,21,1,1,8
25,0,0.0,0,1,7,235,43,38,0,1,0
26,0,0.0,1,0,7,233,31,21,1,1,8
27,1,0.0,0,0,7,228,58,22,0,2,1
28,0,0.0,0,1,7,118,37,28,0,0,0
29,1,0.0,0,0,7,228,58,22,0,2,1
30,0,0.0,0,1,7,189,33,25,0,2,2
31,0,0.0,0,1,7,118,37,28,0,0,0
32,0,0.0,0,1,7,361,28,27,0,1,4
33,0,0.0,0,1,7,225,28,24,0,1,2
34,1,0.0,0,0,7,369,31,25,0,3,0
35,1,0.0,0,0,7,289,33,30,0,2,1
36,1,0.0,0,0,7,235,37,29,1,1,1
37,0,0.0,0,0,7,118,40,34,0,1,8
38,0,0.0,0,0,7,231,39,35,0,2,2
39,0,0.0,0,0,7,179,53,25,0,1,1

In [336]:
scaler.fit(new_data)

C:\Users\soodm\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3438: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

CustomScaler(columns=['Month Value', 'Transportation Expense', 'Age',
                      'Body Mass Index', 'Children', 'Pets'])

In [337]:
new_data1 = scaler.transform(new_data)
new_data1

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0.0,0,1,-1.051315,-0.326675,-0.877958,-1.419428,1,-1.187282,-0.660387
1,1,0.0,0,0,-1.051315,2.097580,-1.127910,0.294598,0,0.030443,0.827808
2,0,0.0,0,1,-1.051315,-0.646357,-0.378053,-0.133908,0,1.248168,-0.660387
3,0,0.0,0,1,-1.051315,-0.326675,0.371804,-0.776668,1,1.248168,-0.660387
4,1,0.0,0,0,-1.051315,-0.646357,-0.378053,-0.133908,0,1.248168,-0.660387
5,1,0.0,0,0,-1.051315,0.286049,-1.127910,-0.348162,0,0.030443,0.083711
6,1,0.0,0,0,-1.051315,-1.139200,1.121661,-0.133908,0,1.248168,-0.660387
7,0,0.0,0,1,-1.051315,-0.326675,-0.877958,-1.419428,1,-1.187282,-0.660387
8,0,0.0,0,1,-1.051315,-1.139200,-0.003124,0.508852,0,-1.187282,-0.660387
9,1,0.0,0,0,-1.051315,-1.139200,-0.003124,0.508852,0,-1.187282,-0.660387
10,0,0.0,0,1,-1.051315,2.324021,-0.128101,-0.990921,0,1.248168,0.827808
11,0,0.0,1,0,-1.051315,-1.139200,1.621566,1.151611,0,0.030443,-0.660387
12,0,0.0,1,0,-1.051315,0.392609,-0.752982,-0.990921,1,0.030443,2.316004
13,0,0.0,0,1,-1.051315,-0.326675,-0.877958,-1.419428,1,-1.187282,-0.660387
14,0,0.0,0,0,-1.051315,0.419250,1.371614,1.580118,0,0.030443,1.199857
15,0,0.0,0,0,-1.051315,0.858812,-0.503029,-0.133908,1,-1.187282,-0.660387
16,0,0.0,1,0,-1.051315,-1.139200,1.621566,1.151611,0,0.030443,-0.660387
17,1,0.0,0,0,-1.051315,-0.326675,-0.877958,-1.419428,1,-1.187282,-0.660387
18,0,0.0,0,1,-1.051315,1.165174,0.371804,-0.133908,0,0.030443,-0.288338
19,1,0.0,0,0,0.951190,-0.326675,-0.877958,-1.419428,1,-1.187282,-0.660387
20,0,0.0,0,1,0.951190,-1.139200,-0.003124,0.508852,0,-1.187282,-0.660387
21,0,0.0,0,1,0.951190,0.392609,-0.752982,-0.990921,1,0.030443,2.316004
22,1,0.0,0,0,0.951190,-1.139200,-0.003124,0.508852,0,-1.187282,-0.660387
23,1,0.0,0,0,0.951190,-1.139200,-0.003124,0.508852,0,-1.187282,-0.660387
24,0,0.0,0,1,0.951190,0.392609,-0.752982,-0.990921,1,0.030443,2.316004
25,0,0.0,0,1,0.951190,0.419250,0.746733,2.651384,0,0.030443,-0.660387
26,0,0.0,1,0,0.951190,0.392609,-0.752982,-0.990921,1,0.030443,2.316004
27,1,0.0,0,0,0.951190,0.326009,2.621376,-0.776668,0,1.248168,-0.288338
28,0,0.0,0,1,0.951190,-1.139200,-0.003124,0.508852,0,-1.187282,-0.660387
29,1,0.0,0,0,0.951190,0.326009,2.621376,-0.776668,0,1.248168,-0.288338
30,0,0.0,0,1,0.951190,-0.193474,-0.503029,-0.133908,0,1.248168,0.083711
31,0,0.0,0,1,0.951190,-1.139200,-0.003124,0.508852,0,-1.187282,-0.660387
32,0,0.0,0,1,0.951190,2.097580,-1.127910,0.294598,0,0.030443,0.827808
33,0,0.0,0,1,0.951190,0.286049,-1.127910,-0.348162,0,0.030443,0.083711
34,1,0.0,0,0,0.951190,2.204140,-0.752982,-0.133908,0,2.465893,-0.660387
35,1,0.0,0,0,0.951190,1.138534,-0.503029,0.937358,0,1.248168,-0.288338
36,1,0.0,0,0,0.951190,0.419250,-0.003124,0.723105,1,0.030443,-0.288338
37,0,0.0,0,0,0.951190,-1.139200,0.371804,1.794371,0,0.030443,2.316004
38,0,0.0,0,0,0.951190,0.365969,0.246828,2.008624,0,1.248168,0.083711
39,0,0.0,0,0,0.951190,-0.326675,1.996495,-0.133908,0,0.030443,-0.288338

In [338]:
predicted_value=reg.predict(new_data1)
predicted_value

array([0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0])

In [339]:
predicted_proba=reg.predict_proba(new_data1)
predicted_proba

array([[0.81614211, 0.18385789],
       [0.06748185, 0.93251815],
       [0.59341895, 0.40658105],
       [0.70321259, 0.29678741],
       [0.16587052, 0.83412948],
       [0.15969173, 0.84030827],
       [0.30442686, 0.69557314],
       [0.81614211, 0.18385789],
       [0.81528346, 0.18471654],
       [0.37552526, 0.62447474],
       [0.37554203, 0.62445797],
       [0.31614623, 0.68385377],
       [0.34370123, 0.65629877],
       [0.81614211, 0.18385789],
       [0.86508272, 0.13491728],
       [0.81838363, 0.18161637],
       [0.31614623, 0.68385377],
       [0.3768657 , 0.6231343 ],
       [0.53931513, 0.46068487],
       [0.35560215, 0.64439785],
       [0.80108393, 0.19891607],
       [0.81064244, 0.18935756],
       [0.35429433, 0.64570567],
       [0.35429433, 0.64570567],
       [0.81064244, 0.18935756],
       [0.43360396, 0.56639604],
       [0.32333793, 0.67666207],
       [0.27926152, 0.72073848],
       [0.80108393, 0.19891607],
       [0.27926152, 0.72073848],
       [0.55732214, 0.44267786],
       [0.80108393, 0.19891607],
       [0.32643317, 0.67356683],
       [0.55999564, 0.44000436],
       [0.01988104, 0.98011896],
       [0.05025121, 0.94974879],
       [0.16432278, 0.83567722],
       [0.93250225, 0.06749775],
       [0.62119192, 0.37880808],
       [0.91562903, 0.08437097]])

In [341]:
new_data1['Prediction']=predicted_value
new_data1

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Prediction
0,0,0.0,0,1,-1.051315,-0.326675,-0.877958,-1.419428,1,-1.187282,-0.660387,0
1,1,0.0,0,0,-1.051315,2.097580,-1.127910,0.294598,0,0.030443,0.827808,1
2,0,0.0,0,1,-1.051315,-0.646357,-0.378053,-0.133908,0,1.248168,-0.660387,0
3,0,0.0,0,1,-1.051315,-0.326675,0.371804,-0.776668,1,1.248168,-0.660387,0
4,1,0.0,0,0,-1.051315,-0.646357,-0.378053,-0.133908,0,1.248168,-0.660387,1
5,1,0.0,0,0,-1.051315,0.286049,-1.127910,-0.348162,0,0.030443,0.083711,1
6,1,0.0,0,0,-1.051315,-1.139200,1.121661,-0.133908,0,1.248168,-0.660387,1
7,0,0.0,0,1,-1.051315,-0.326675,-0.877958,-1.419428,1,-1.187282,-0.660387,0
8,0,0.0,0,1,-1.051315,-1.139200,-0.003124,0.508852,0,-1.187282,-0.660387,0
9,1,0.0,0,0,-1.051315,-1.139200,-0.003124,0.508852,0,-1.187282,-0.660387,1
10,0,0.0,0,1,-1.051315,2.324021,-0.128101,-0.990921,0,1.248168,0.827808,1
11,0,0.0,1,0,-1.051315,-1.139200,1.621566,1.151611,0,0.030443,-0.660387,1
12,0,0.0,1,0,-1.051315,0.392609,-0.752982,-0.990921,1,0.030443,2.316004,1
13,0,0.0,0,1,-1.051315,-0.326675,-0.877958,-1.419428,1,-1.187282,-0.660387,0
14,0,0.0,0,0,-1.051315,0.419250,1.371614,1.580118,0,0.030443,1.199857,0
15,0,0.0,0,0,-1.051315,0.858812,-0.503029,-0.133908,1,-1.187282,-0.660387,0
16,0,0.0,1,0,-1.051315,-1.139200,1.621566,1.151611,0,0.030443,-0.660387,1
17,1,0.0,0,0,-1.051315,-0.326675,-0.877958,-1.419428,1,-1.187282,-0.660387,1
18,0,0.0,0,1,-1.051315,1.165174,0.371804,-0.133908,0,0.030443,-0.288338,0
19,1,0.0,0,0,0.951190,-0.326675,-0.877958,-1.419428,1,-1.187282,-0.660387,1
20,0,0.0,0,1,0.951190,-1.139200,-0.003124,0.508852,0,-1.187282,-0.660387,0
21,0,0.0,0,1,0.951190,0.392609,-0.752982,-0.990921,1,0.030443,2.316004,0
22,1,0.0,0,0,0.951190,-1.139200,-0.003124,0.508852,0,-1.187282,-0.660387,1
23,1,0.0,0,0,0.951190,-1.139200,-0.003124,0.508852,0,-1.187282,-0.660387,1
24,0,0.0,0,1,0.951190,0.392609,-0.752982,-0.990921,1,0.030443,2.316004,0
25,0,0.0,0,1,0.951190,0.419250,0.746733,2.651384,0,0.030443,-0.660387,1
26,0,0.0,1,0,0.951190,0.392609,-0.752982,-0.990921,1,0.030443,2.316004,1
27,1,0.0,0,0,0.951190,0.326009,2.621376,-0.776668,0,1.248168,-0.288338,1
28,0,0.0,0,1,0.951190,-1.139200,-0.003124,0.508852,0,-1.187282,-0.660387,0
29,1,0.0,0,0,0.951190,0.326009,2.621376,-0.776668,0,1.248168,-0.288338,1
30,0,0.0,0,1,0.951190,-0.193474,-0.503029,-0.133908,0,1.248168,0.083711,0
31,0,0.0,0,1,0.951190,-1.139200,-0.003124,0.508852,0,-1.187282,-0.660387,0
32,0,0.0,0,1,0.951190,2.097580,-1.127910,0.294598,0,0.030443,0.827808,1
33,0,0.0,0,1,0.951190,0.286049,-1.127910,-0.348162,0,0.030443,0.083711,0
34,1,0.0,0,0,0.951190,2.204140,-0.752982,-0.133908,0,2.465893,-0.660387,1
35,1,0.0,0,0,0.951190,1.138534,-0.503029,0.937358,0,1.248168,-0.288338,1
36,1,0.0,0,0,0.951190,0.419250,-0.003124,0.723105,1,0.030443,-0.288338,1
37,0,0.0,0,0,0.951190,-1.139200,0.371804,1.794371,0,0.030443,2.316004,0
38,0,0.0,0,0,0.951190,0.365969,0.246828,2.008624,0,1.248168,0.083711,0
39,0,0.0,0,0,0.951190,-0.326675,1.996495,-0.133908,0,0.030443,-0.288338,0

In [343]:
new_data1['Predicted Probability']=predicted_proba[:,1]
new_data1

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Prediction,Predicted Probability
0,0,0.0,0,1,-1.051315,-0.326675,-0.877958,-1.419428,1,-1.187282,-0.660387,0,0.183858
1,1,0.0,0,0,-1.051315,2.097580,-1.127910,0.294598,0,0.030443,0.827808,1,0.932518
2,0,0.0,0,1,-1.051315,-0.646357,-0.378053,-0.133908,0,1.248168,-0.660387,0,0.406581
3,0,0.0,0,1,-1.051315,-0.326675,0.371804,-0.776668,1,1.248168,-0.660387,0,0.296787
4,1,0.0,0,0,-1.051315,-0.646357,-0.378053,-0.133908,0,1.248168,-0.660387,1,0.834129
5,1,0.0,0,0,-1.051315,0.286049,-1.127910,-0.348162,0,0.030443,0.083711,1,0.840308
6,1,0.0,0,0,-1.051315,-1.139200,1.121661,-0.133908,0,1.248168,-0.660387,1,0.695573
7,0,0.0,0,1,-1.051315,-0.326675,-0.877958,-1.419428,1,-1.187282,-0.660387,0,0.183858
8,0,0.0,0,1,-1.051315,-1.139200,-0.003124,0.508852,0,-1.187282,-0.660387,0,0.184717
9,1,0.0,0,0,-1.051315,-1.139200,-0.003124,0.508852,0,-1.187282,-0.660387,1,0.624475
10,0,0.0,0,1,-1.051315,2.324021,-0.128101,-0.990921,0,1.248168,0.827808,1,0.624458
11,0,0.0,1,0,-1.051315,-1.139200,1.621566,1.151611,0,0.030443,-0.660387,1,0.683854
12,0,0.0,1,0,-1.051315,0.392609,-0.752982,-0.990921,1,0.030443,2.316004,1,0.656299
13,0,0.0,0,1,-1.051315,-0.326675,-0.877958,-1.419428,1,-1.187282,-0.660387,0,0.183858
14,0,0.0,0,0,-1.051315,0.419250,1.371614,1.580118,0,0.030443,1.199857,0,0.134917
15,0,0.0,0,0,-1.051315,0.858812,-0.503029,-0.133908,1,-1.187282,-0.660387,0,0.181616
16,0,0.0,1,0,-1.051315,-1.139200,1.621566,1.151611,0,0.030443,-0.660387,1,0.683854
17,1,0.0,0,0,-1.051315,-0.326675,-0.877958,-1.419428,1,-1.187282,-0.660387,1,0.623134
18,0,0.0,0,1,-1.051315,1.165174,0.371804,-0.133908,0,0.030443,-0.288338,0,0.460685
19,1,0.0,0,0,0.951190,-0.326675,-0.877958,-1.419428,1,-1.187282,-0.660387,1,0.644398
20,0,0.0,0,1,0.951190,-1.139200,-0.003124,0.508852,0,-1.187282,-0.660387,0,0.198916
21,0,0.0,0,1,0.951190,0.392609,-0.752982,-0.990921,1,0.030443,2.316004,0,0.189358
22,1,0.0,0,0,0.951190,-1.139200,-0.003124,0.508852,0,-1.187282,-0.660387,1,0.645706
23,1,0.0,0,0,0.951190,-1.139200,-0.003124,0.508852,0,-1.187282,-0.660387,1,0.645706
24,0,0.0,0,1,0.951190,0.392609,-0.752982,-0.990921,1,0.030443,2.316004,0,0.189358
25,0,0.0,0,1,0.951190,0.419250,0.746733,2.651384,0,0.030443,-0.660387,1,0.566396
26,0,0.0,1,0,0.951190,0.392609,-0.752982,-0.990921,1,0.030443,2.316004,1,0.676662
27,1,0.0,0,0,0.951190,0.326009,2.621376,-0.776668,0,1.248168,-0.288338,1,0.720738
28,0,0.0,0,1,0.951190,-1.139200,-0.003124,0.508852,0,-1.187282,-0.660387,0,0.198916
29,1,0.0,0,0,0.951190,0.326009,2.621376,-0.776668,0,1.248168,-0.288338,1,0.720738
30,0,0.0,0,1,0.951190,-0.193474,-0.503029,-0.133908,0,1.248168,0.083711,0,0.442678
31,0,0.0,0,1,0.951190,-1.139200,-0.003124,0.508852,0,-1.187282,-0.660387,0,0.198916
32,0,0.0,0,1,0.951190,2.097580,-1.127910,0.294598,0,0.030443,0.827808,1,0.673567
33,0,0.0,0,1,0.951190,0.286049,-1.127910,-0.348162,0,0.030443,0.083711,0,0.440004
34,1,0.0,0,0,0.951190,2.204140,-0.752982,-0.133908,0,2.465893,-0.660387,1,0.980119
35,1,0.0,0,0,0.951190,1.138534,-0.503029,0.937358,0,1.248168,-0.288338,1,0.949749
36,1,0.0,0,0,0.951190,0.419250,-0.003124,0.723105,1,0.030443,-0.288338,1,0.835677
37,0,0.0,0,0,0.951190,-1.139200,0.371804,1.794371,0,0.030443,2.316004,0,0.067498
38,0,0.0,0,0,0.951190,0.365969,0.246828,2.008624,0,1.248168,0.083711,0,0.378808
39,0,0.0,0,0,0.951190,-0.326675,1.996495,-0.133908,0,0.030443,-0.288338,0,0.084371